/*
[name]青[/name]
[iconbgcolor]#429296[/iconbgcolor]
Description: NeedForBug! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
body { background:#FFF url({IMG_DIR}/../Style/t2/bgimg.jpg) no-repeat 50% 0; }
a{color: #429296;}
a:hover {color: #429296;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #3a87ad;}
.label-success[href]{background-color: #2d6987;}
.alert-success{color: #3a87ad;background-color: #d9edf7;border-color: #bce8f1;}
.label a,.badge a{color:#fff;}
.badge-success{background:#3a87ad;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#429296;}
input:focus,textarea:focus {border-color: #429296;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #429296;}
.dropdown-menu a:hover{background-color: #429296;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #429296;}
/* 按钮 */
.btn-success {background-color: #49afcd;*background-color: #2f96b4;background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);background-image: linear-gradient(top, #5bc0de, #2f96b4);background-repeat: repeat-x;border-color: #2f96b4 #2f96b4 #1f6377;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,
.btn-success[disabled]{background-color: #2f96b4;*background-color: #2a85a0;}
.btn-success:active,.btn-success.active {background-color: #24748c \9;}

/**===============================
           重新定义头部和头部菜单
================================*/
/* 顶部条 */
#top_header{background:none;border:none; }
#header{background:none; }
/* 菜单 */
#header .navbar-inner {background:#429296;filter: none;}
#header .navbar .divider-vertical {background-color: #005b5b;border-right: 1px solid #429296;}
#header .navbar-inner .nav .active a {color:#ffffff;background: #005b5b;}
#header .navbar-inner .nav .active a:hover {color:#ffffff;background:#005b5b;}
#header .navbar-inner .nav a:hover {color:#ffffff;background:#005b5b;}
#header .navbar-inner .nav .dropdown-menu a {color:{NORMAL_COLOR};}
#header .navbar-inner .nav .dropdown-menu a:hover{background-color: #429296;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover {background-color: #429296;}
/* 搜索 */
#header .navbar-search .search-query {border: 1px solid #005b5b;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#333333;}
#footer a{color:#333333;}
#footer a:hover{color:#000;}
