/*
[name]红[/name]
[iconbgcolor]#BA350F[/iconbgcolor]
Description: NeedForBug! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
html { background: #FAF6ED url({IMG_DIR}/../Style/t1/background.png); }
body { background: transparent url({IMG_DIR}/../Style/t1/bgimg.jpg) no-repeat 50% 0; }
a{color: #333333;}
a:hover {color: #333333;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #BA350F;}
.label-success[href]{background-color: #840000;}
.alert-success{color: #b94a48;background-color: #f2dede;border-color: #eed3d7;}
.label a,.badge a{color:#fff;}
.badge-success{background:#b94a48;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#BA350F;}
input:focus,textarea:focus {border-color: #BA350F;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #BA350F;}
.dropdown-menu a:hover{background-color: #BA350F;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #BA350F;}
/* 按钮 */
.btn-success {background-color: #da4f49;*background-color: #bd362f;background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);background-image: linear-gradient(top, #ee5f5b, #bd362f);background-repeat: repeat-x;border-color: #bd362f #bd362f #802420;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {background-color: #bd362f;*background-color: #a9302a;}
.btn-success:active,.btn-success.active {background-color: #942a25 \9;}

/**===============================
           重新定义头部和头部菜单
================================*/
/* 顶部条 */
#top_header{background:none;border:none; }
#header{background:none; }
/* 菜单 */
#header .navbar-inner {background:#BA350F;filter: none;}
#header .navbar .divider-vertical {background-color: #840000;border-right: 1px solid #BA350F;}
#header .navbar-inner .nav .active a {color:#ffffff;background: #840000;}
#header .navbar-inner .nav .active a:hover {color:#ffffff;background:#840000;}
#header .navbar-inner .nav a:hover {color:#ffffff;background:#840000;}
#header .navbar-inner .nav .dropdown-menu a {color:{NORMAL_COLOR};}
#header .navbar-inner .nav .dropdown-menu a:hover{background-color: #BA350F;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover {background-color: #BA350F;}
/* 搜索 */
#header .navbar-search .search-query {border: 1px solid #840000;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#333333;}
#footer a{color:#333333;}
#footer a:hover{color:#000;}
