<?xml version="1.0" encoding="UTF-8"?>
<root>
	<title><![CDATA[NeedForBug App]]></title>
	<version><![CDATA[1.0]]></version>
	<time><![CDATA[2012-03-25]]></time>
	<copyright><![CDATA[Dianniu]]></copyright>
	<data>
		<identifier><![CDATA[shop]]></identifier>
		<name><![CDATA[商城]]></name>
		<version><![CDATA[1.0]]></version>
		<description><![CDATA[商城应用]]></description>
		<url><![CDATA[http://doyouhaobaby.net]]></url>
		<email><![CDATA[admin@doyouhaobaby.net]]></email>
		<author><![CDATA[Dianniu Team]]></author>
		<authorurl><![CDATA[http://doyouhaobaby.net]]></authorurl>
		<isadmin><![CDATA[1]]></isadmin>
		<isinstall><![CDATA[1]]></isinstall>
		<isuninstall><![CDATA[1]]></isuninstall>
		<issystem><![CDATA[1]]></issystem>
		<isappnav><![CDATA[1]]></isappnav>
	</data>
</root>