/*
Style Name: 书画院主题
Style URI: http://doyouhaobaby.net/
Description: 这是由Needforbug 的系统自带主题
Author: ZhongXiaoQin
Author URI: http://dianniu.net/space/4.html
Version: 1.0
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: admin, light
*/

.yming{}
