/*
File Name: common.css
File Type: 必需
Description: 本主题基本css元素
*/

/**===============================
           基础
================================*/
html{-webkit-text-size-adjust:none;}
body{padding-top: 60px;padding-bottom: 40px;margin: 0px;padding: 0px;{BG_CODE};color:{NORMAL_COLOR};}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,fieldset,div,strong,label,em{border:0 none;}
/*ul,ol,li{list-style:none;}*/
.shadow{box-shadow: rgba(200,200,20);-webkit-box-shadow: rgba(200,200,20);-khtml-box-shadow: rgba(200,200,200,1) 0 2px 18px;}
.transition{transition: color .1s linear .1s;-moz-transition-property: color;-moz-transition-timing-function: ease-in;-moz-transition-duration: 1s;-moz-transition-delay: 0;-webkit-transition-property: color;-webkit-transition-timing-function: ease-in;-webkit-transition-duration: 1s;-webkit-transition-delay: 0;}
body{background-position: top center;}
a{color: {LINK_COLOR};}
a:hover {color: {HIGHLIGHTLINK_COLOR};}
hr{margin: 3px 0 3px 0px;width:100%;color:{INTERVAL_LINE_COLOR};}
/* 竖直分割线 */
.pipe{margin:0 5px;color:{INTERVAL_LINE_COLOR};}
p{ table-layout:fixed; word-break: break-all; overflow:hidden;}

/**===============================
           全局样式
================================*/
.red{color:red;}
.none{display:none;}
.space{margin:10px 0px;}
.clear:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear,.clearfix{display:inline-block;}
*html.clearfix,*html.clear{height:1%;}
.clearfix{display: block;}
.left{ float:left !important;display:inline;}
.right{ float:right !important;display:inline; }

/**===============================
           部分颜色块重写和大小约束
================================*/
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:{MENU_HOVER_BG_COLOR};}
.badge a,.label a{color:#fff;}
input:focus,textarea:focus {border-color: {INPUT_BORDER_DARK_COLOR};outline: 0;outline: thin dotted \9;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus {outline: thin dotted {NORMAL_COLOR};}
.nav-pills > .active > a,.nav-pills > .active > a:hover {color: #ffffff;background-color: {MENU_HOVER_BG_COLOR};}
.active .dropdown-menu a {background: #fff;}
.dropdown-menu a {color: {NORMAL_COLOR};}
.dropdown-menu a:hover{color: #ffffff;text-decoration: none;background-color: {MENU_HOVER_BG_COLOR};}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {color: #ffffff;text-decoration: none;background-color: {MENU_HOVER_BG_COLOR};}
/* size */
table hr{width:100%;height:1px;border:none;border-top:1px dashed {INTERVAL_LINE_COLOR};}
.popover-inner{width:600px;}

/**===============================
           容器
================================*/
#content .container{background:#fff;padding:10px;margin-bottom:10px;margin-top:10px;border-radius: 5px;}

/**===============================
           头部和头部菜单
================================*/
/* 顶部条 */
#top_header{height:28px;border-bottom:{HEADER_BORDER_WIDTH} solid {HEADER_BORDER_COLOR};background:#FFF url({IMG_DIR}/topheader_bg.png) repeat-x; }
#top_header a{color:{HEADER_TEXT_COLOR};}
.top_header_menu{margin:5px 0px 0px 0px;}

/* 菜单 */
#header{{HEADER_BG_CODE};}
#header a.brand {color:{MENU_TEXT_COLOR};}
#header .navbar-inner {color: {MENU_TEXT_COLOR};{MENU_BG_CODE};filter: none;_height:40px;height:40px;overflow:visible;}
#header .navbar .divider-vertical {width: 1px;height: 40px; margin: 0 9px;overflow: hidden;background-color: {MENU_BORDER_COLOR};border-right: 1px solid {MENU_BG_COLOR};}
#header .navbar-inner .nav .active a {color: {HIGHLIGHTLINK_COLOR};background: {MENU_HOVER_BG_COLOR};}
#header .navbar-inner .nav .active a:hover {background: {MENU_HOVER_BG_COLOR};}
#header .navbar-inner .nav a {color: {MENU_TEXT_COLOR};}
#header .navbar-inner .nav a:hover {color: {MENU_HOVER_TEXT_COLOR};background:{MENU_HOVER_BG_COLOR};}
#header .navbar-inner .nav .active a {color:#fff;}
#header .navbar-inner .nav .active .dropdown-menu a {background-color: {MENU_TEXT_COLOR};}
#header .navbar-inner .nav .dropdown-menu a {color: {NORMAL_COLOR};}
#header .navbar-inner .nav .dropdown-menu a:hover{color: {MENU_HOVER_TEXT_COLOR};text-decoration: none;background-color: {MENU_HOVER_BG_COLOR};}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover {color: {MENU_HOVER_TEXT_COLOR};text-decoration: none;background-color: {MENU_HOVER_BG_COLOR};}
/* 搜索 */
#header .navbar-search .search-query {color: {NORMAL_COLOR};background-color: {INPUT_BG};border: 1px solid {MENU_HOVER_BG_COLOR};}
#header .navbar-search .search-query:-moz-placeholder {color: {NORMAL_COLOR};}
#header .navbar-search .search-query::-webkit-input-placeholder {color: {NORMAL_COLOR};}
#header .navbar-search .search-query:focus,
#header .navbar-search .search-query.focused {color: {NORMAL_COLOR};text-shadow: 0 1px 0 {INPUT_BG};background-color: {INPUT_BG};}

/**===============================
           消息样式
================================*/
/* AJAX消息 && 内页结果效果 */
#result,.DyhbAjaxResult{border:2px ridge #000; background-color:#eee;line-height:20px;max-width:250px;width: expression(this.width>250?"250":true);overflow: auto; background-color: #ffffff;-webkit-border-radius: 6px;-moz-border-radius: 6px;  border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip: padding-box; -moz-background-clip: padding-box;background-clip: padding-box;}
.DyhbAjaxResult{position:fixed;top:50%;margin-top:-100px;left:50%;margin-left:-100px; z-index: 1050;padding:15px 50px;border: 5px solid #999; border: 5px solid rgba(0, 0, 0, 0.2);*border: 5px solid #999;}
#result{padding:5px 20px;border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2);*border: 1px solid #999;}
* html div.DyhbAjaxResult{position:absolute; right:16px;}
#result ul li,.DyhbAjaxResult ul li{list-style:none;line-height:20px;}

/**===============================
           前台主题和语言包切换
================================*/
#style_switch_box{padding:0px 20px 5px 0px;}
#style_switch{}
#style_switch li{float:left;padding-left:5px;list-style:none;}
#style_switch a{float:left;width:10px;height:10px;border:1px solid #DDD;background:#FFF;line-height:100px;overflow:hidden;}
#style_switch a:hover,#style_switch .current a{border-color:#FFF;}
#style_switch .current a{margin-top:0px;border-width:1px;}

a#extendstyle_select{width:10px;background:url({__ROOT__}/Public/images/common/style.gif) no-repeat 50% 50%;text-indent:-9999px;overflow:hidden;}
a#extendstyle_select:hover{text-decoration:none;}

a#lang_select:hover{text-decoration:none;}
#lang_select_box ul li a:hover{color:#FFF;}

/**===============================
           列表排序
================================*/
table thead th .order_desc { padding-right: 8px; background: url({IMG_DIR}/order.gif) no-repeat 100% 50%; }
table thead th .order_asc { padding-right: 8px; background: url({IMG_DIR}/order_asc.gif) no-repeat 100% 50%; }

/**===============================
           回到顶部
================================*/
.back-to-top{display: none;width: 18px; line-height: 1.2;padding: 5px 0; background-color: #000; color: #fff;
 font-size: 12px;text-align: center; position: fixed;_position: absolute;right: 10px;bottom: 100px; _bottom: "auto"; cursor: pointer; opacity: 0.6;filter: Alpha(opacity=60);}

/**===============================
           底部
================================*/
#footer{color: {FOOTER_TEXT_COLOR};text-align: left;margin-top: 20px;margin:auto;padding: 25px 0px 10px 0px;{FOOTER_BG_CODE};}
#footer a{color:{FOOTER_TEXT_COLOR}}
#footer a:hover{color:#FFF;}
#footer .footer_debug{font-size:10px;color:{LIGHT_TEXTCOLOR};}

/**===============================
           分页条
================================*/
.pagenav {padding:3px 0px;margin:3px 0px; 
  height: 36px;
  margin: 18px 0;

}
.pagenav a {border: #dedfde 1px solid; padding:2px 6px 2px 6px; margin-right: 3px; text-decoration: none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.pagenav a:hover {background-image: none; background-color: #f5f5f5;border: #ddd 1px solid;}
.pagenav a:active {color:#999999; background-image: none; background-color: #f5f5f5;border: #000 1px solid;}
.pagenav span.current {font-weight: bold;color:#999999;background-color: #f5f5f5; border: #ddd 1px solid;padding:2px 6px 2px 6px; margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.pagenav span.disabled {color: #999999; background-color: #f5f5f5; border: #eee 1px solid;padding:2px 6px 2px 6px;margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}

/**===============================
           Ajax分页加载消息框
================================*/
.loadinghomefreshchildcomments{display:none;background:{LIGHT_TEXTCOLOR};text-align:center;width: 100%; color: #FFF; font-size: 22px; height:45px;line-height:45px }

/**===============================
           社会化登录框
================================*/
.socialogin_box{text-align:center;}
.socialogin_content{text-align:center;width:300px;margin:auto;}

/**===============================
           媒体
================================*/
.ubb_media_box img{max-width: {CONTENT_WIDTH};width:expression(this.width>'{CONTENT_WIDTH}'?"{CONTENT_WIDTH}":this.width);overflow:hidden;}
.ubb_media_box{font-size:11px;color:{LIGHT_TEXTCOLOR};}
.ubb_media_box a:link,.ubb_media_box a:visited{color:{LIGHT_TEXTCOLOR};}
.ubb_media_box a:hover{color:#555555;text-decoration:none;}

/**===============================
           通用容器和列表
================================*/
.commonbox .commonboxtitle{border-bottom: 1px solid #EEEEEE;font-size: 16px;margin-bottom: 10px;padding-bottom: 5px;font-weight:bold;}
.commonlist{}
.commonlist ul{}
.commonlist ul li{list-style:none;margin-left:-25px;padding:5px;border-bottom:dashed 1px #DDDDDD;}
