/*
Style Name: 默认主题
Style URI: http://doyouhaobaby.net/
Description: 这是由Needforbug 的系统自带主题
Author: Dianniu team
Author URI: http://doyouhaobaby.net
Version: 1.0
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: admin, light
*/

/**===============================
           新鲜事
================================*/
[CURSCRIPT=home::userhome]
.homefresh-box{}
.homefresh-box .max-limit-doing{ margin:5px 70px 0px 0px; }
[/CURSCRIPT]

/**===============================
           友情衔接
================================*/
[CURSCRIPT=home::index]
.home-links, .home-img-link, .home-txt-link { padding: 2px; }
.home-links ul li { list-style:none;float: left; width: 49%; height: 50px; line-height: 1.4em; }
.home-img-link a { margin-right: 8px; }
.home-img-link img { margin: 1px 0; }
.home-logo { float: left; padding-top: 2px; width: 100px; }
.home-content { padding-right: 18px; height: 50px; }
.home-content p { overflow: hidden; height: 17px; color: {LIGHT_TEXTCOLOR}; }
.home-txt-link li { float: left; margin-right: 5px; width: 8em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
[/CURSCRIPT]

/**===============================
           主页头像
================================*/
[CURSCRIPT=home::userhome]
.userinfo .user_name p{line-height:20px;margin:0;color:#507FA5;}
.userinfo{padding:0 0 10px 10px;overflow:hidden;*zoom:1}
.userinfo .userpic{width:50px;height:50px;float:left;position:relative;}
.userinfo .userpic span {}
.userinfo .userpic span img {border:#fff solid 1px;width:50px;height:50px}
.userinfo .user_name{margin-left:70px}
.userinfo .user_name a span,.userinfo .user_name a span{font-size:12px;margin:0;}
.userinfo .user_name p a {}
[/CURSCRIPT]

/**===============================
           短消息
================================*/
[CURSCRIPT=home::pm]
.reply-pm blockquote{color:#999999;}
[/CURSCRIPT]
