/* [NeedForBug!] (C)Dianniu From 2010.
   Needforbug 安装程序CSS样式($)*/

/**===============================
               基本
================================*/
body {padding-top: 60px;padding-bottom: 40px; }
.sidebar-nav {padding: 9px 0;}
/* 竖直分割线 */
.pipe{margin:0 5px;color:#CCC;}
.none{display:none;}

/**===============================
               Ajax消息框
================================*/
.DyhbAjaxResult{border:2px ridge #000;background-color:#eee;line-height:20px;max-width:250px;width:expression(this.width>250?"250":true);overflow:auto;background-color:#ffffff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;position:fixed;top:50px;right:30px;z-index:1050;padding:15px 50px;border:5px solid #999;border:5px solid rgba(0,0,0,0.2);*border:5px solid #999;position:absolute;right:16px;}
.DyhbAjaxResult ul li{list-style:none;line-height:20px;}#style_switch_box{padding:0px 20px 5px 0px;}

/**===============================
               安装过程消息框
================================*/
#message-list { overflow: hidden; margin: 20px 20px 20px 5px; padding: 5px; height: 300px; border: 1px solid #CCC; text-align: left; overflow:scroll; overflow-x:hidden;}
