/*
[name]紫[/name]
[iconbgcolor]#9934B7[/iconbgcolor]
Description: NeedForBug! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
body { background:#FFF url({IMG_DIR}/../Style/t4/bgimg.jpg) no-repeat 50% 0; }
a{color: #333333;}
a:hover {color: #333333;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #9934B7;}
.label-success[href]{background-color: #6C1992;}
.alert-success{color: #9934B7;background-color: #f8f1f9;border-color: #f8eef9;}
.label a,.badge a{color:#fff;}
.badge-success{background:#9934B7;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#9934B7;}
input:focus,textarea:focus {border-color: #9934B7;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #9934B7;}
.dropdown-menu a:hover{background-color: #9934B7;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #9934B7;}
/* 按钮 */
.btn-success {background-color: #b53cd9;*background-color: #8424a0;background-image: -ms-linear-gradient(top, #be58dd, #8424a0);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#be58dd), to(#8424a0));background-image: -webkit-linear-gradient(top, #be58dd, #8424a0);background-image: -o-linear-gradient(top, #be58dd, #8424a0);background-image: -moz-linear-gradient(top, #be58dd, #8424a0);background-image: linear-gradient(top, #be58dd, #8424a0);background-repeat: repeat-x;border-color: #8424a0 #8424a0 #5e1980;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#be58dd', endColorstr='#8424a0', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,
.btn-success[disabled]{background-color: #8424a0;*background-color: #8d33ae;}
.btn-success:active,.btn-success.active {background-color: #7b229d \9;}

/**===============================
           重新定义头部和头部菜单
================================*/
/* 顶部条 */
#top_header{background:none;border:none; }
#header{background:none; }
/* 菜单 */
#header .navbar-inner {background:#9934B7;filter: none;}
#header .navbar .divider-vertical {background-color: #6C1992;border-right: 1px solid #9934B7;}
#header .navbar-inner .nav .active a {color:#ffffff;background: #6C1992;}
#header .navbar-inner .nav .active a:hover {color:#ffffff;background:#6C1992;}
#header .navbar-inner .nav a:hover {color:#ffffff;background:#6C1992;}
#header .navbar-inner .nav .dropdown-menu a {color:{NORMAL_COLOR};}
#header .navbar-inner .nav .dropdown-menu a:hover{background-color: #9934B7;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover {background-color: #9934B7;}
/* 搜索 */
#header .navbar-search .search-query {border: 1px solid #6C1992;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#333333;}
#footer a{color:#333333;}
#footer a:hover{color:#000;}
