/*
Style Name: 默认主题
Style URI: http://doyouhaobaby.net/
Description: 这是由Needforbug 的系统自带模板
Author: Dianniu team
Author URI: http://doyouhaobaby.net
Version: 1.0
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: admin, light
*/

/**===============================
           基本元素
================================*/
html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  display: block; } 
html, body {height: 100%;margin: 0;padding: 0;font:12px/1.5 Tahoma,Helvetica,'SimSun',sans-serif;background: #F8F8F8;-webkit-text-size-adjust:none;}
a:link, a:visited {color: #77BACE;text-decoration: none;}
a:hover {text-decoration: underline;}
hr{height:1px;border:none;border-top:1px dashed #cccccc;}

/**===============================
           全局样式
================================*/
.clear {clear: both;}
.right{float:right}
.left{float:left;}
.none{display:none;}
.center{margin-left:20%;text-align:left;}
.spacer {height: 20px;}
.blue{color:blue;}
.red{color:red;}
.pointer{cursor:pointer;}

/**===============================
           标签样式和内容tab样式
================================*/
.content-tab-box{margin:10px 0px;}
.content-tab-line{border:1px dashed #aaaaaa;background:#fff;padding:10px 15px;}
.content-tab-separationline{border-bottom:1px dashed #C2E4EB;}
.content-tab-active,.content-tab,.tags{ display: inline-block; padding: 3px 6px; height: 17px; line-height: 17px; color: #588C98!important; text-align: center; background-color: #DFEAF2; margin-right: 10px; cursor: pointer; margin-bottom: 3px; border: 1px solid #fff; white-space: nowrap; }
.content-tab-active:hover,.content-tab:hover,.tags:hover{ background-color: #C2E4EB; }
.content-tab-active{background-color: #C2E4EB; }
a.content-tab:link,a.content-tab-active:link{ text-decoration:none; }

/* Jquery idTabs */
.nfb_tab {padding:0px 0px;width:100%;margin:8px auto;}
.nfb_tab ul.nfb_tabtitle{margin-left:-40px;}
.nfb_tab .nfb_tabtitle li { list-style:none; float:left;}
.nfb_tab .nfb_tabtitle a {display:block;padding:6px 10px;text-decoration:none!important;margin:1px;margin-left:0;font-size:12px;color:#588C98!important;background:#DFEAF2;}
.nfb_tab .nfb_tabtitle a:hover {color:#FFF;background:#C2E4EB;}
.nfb_tab .nfb_tabtitle a.selected {margin-bottom:0;color:#000;background:#C2E4EB;border-bottom:1px solid #fff;cursor:default;}
.nfb_tab .nfb_tabtitlebox {border-bottom:2px dashed #fff;background:#fff url('../Images/tabtitle_bg.png') repeat-x;padding:5px 15px 0px 15px;height:30px;}
.nfb_tab .nfb_tabtitlebox a {border-top:2px solid #FFF;border-left:1px solid #FFF;border-right:1px solid #FFF;border-bottom:1px dashed #FFF;}
.nfb_tab .nfb_tabtitlebox a.selected {border-bottom:1px dashed #dcfae2;}
.nfb_tab .nfb_tabcontent {display:none;padding:5px 0px 8px 0px;*padding-top:3px;*margin-top:-15px;clear:left;}

/**===============================
           头部
================================*/
header#header {height: 65px;width: 100%;background: #222222 url(../Images/header_bg.png) repeat-x;}

/* 用户中心 */
#header-links {position:relative;margin-top:0px; padding:5px;color:#999999;right:0;top:0;white-space:nowrap;font-size:12px;text-align:right;}
#header-links a {color:#999999;padding:0;text-decoration:none;font-size:12px;}
#header-links a:hover,
#header-links a:focus,
#header-links a:active{text-decoration:underline;color:#ccc;}
#header-links img.avatar {background:#fff;float:right;margin:5px 0 0 8px;}

/* 头部菜单 */
#menu-div {background: #383838;font-weight: bold;height: 24px;line-height:24px;}
#menu-div ul {margin: 0;padding: 0;list-style-type: none;}
#menu-div li { float: left; border-right: 1px solid #262525; border-left:1px solid #393838;}
#menu-div a:visited, #menu-div a:link {display:block;padding: 0 20px;text-decoration: none;color: #ededed;background:#2a2929;}
#menu-div a:hover,#menu-div .current a {color: #000;background:#77BACE;}
#menu-div li.fix-spacel{width:30px; border-left:none;}
#menu-div li.fix-spacer{border-right:none;}

/**===============================
           侧边栏菜单
================================*/
.fmenu-body{background:#E0E0E32;}
aside#sidebar {width:100%;min-height: 500px;margin-top: -4px;}

/* 主菜单标题 */
section.sidemenu_div {height: 38px;width: 100%;background: #F1F1F4 url(../Images/secondary_bar.png) repeat-x;}
.sidemenu_title {float:left;width:100%;height: 38px;}
.sidemenu_title p {margin: 0;padding: 0;color: #666666;font-weight: bold;display: block;float: left;width: 100%;height: 35px;line-height: 35px;text-indent: 25px;background: url(../Images/icn_sidemenu_title.png) no-repeat center left;margin-left: 6%;}
.sidemenu_title a {text-decoration: none;color: #666666}
.sidemenu_title a:hover {color: #77BACE;}

/* 主菜单 */
#sidemenu{margin-left:0px;}
#sidemenu li{position:relative;list-style:none;list-style: none; padding: 0;width:auto;}
#sidemenu li a{padding:5px;width:110px;border-bottom:1px solid #FFF;text-decoration:none;height:25px;display:block;text-align:center;line-height:25px;color: #666666;}
#sidemenu li a:hover,#sidemenu li.active a{background:#E0E0E3;text-decoration: none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#sidemenu ul{position:absolute;top:36px;left:0px;clear: both;margin: 0; padding: 0;margin-top:9px;}
#sidemenu table{position:absolute;top:0;left:0;}

/**===============================
           拖动条
================================*/
.fdrag-body{margin: 0;padding: 0;width:100%;cursor: E-resize;}

/**===============================
           主内容
================================*/

/* 主内容头部 */
section.secondary_bar {position:fixed;height: 38px;width: 100%;background: #F1F1F4 url(../Images/secondary_bar.png) repeat-x;}
section.secondary_bar .breadcrumbs_container {float: left;width: 100%;height: 38px;}
article.breadcrumbs {float: left;padding: 0 10px;border: 1px solid #ccc;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 1px 0 #fff;-moz-box-shadow: 0 1px 0 #fff;box-shadow: 0 1px 0 #fff;height: 23px;margin: 4px 1%;}
.breadcrumbs a {display: inline-block;float: left;height: 24px;line-height: 23px;}
.breadcrumbs a.current, .breadcrumbs a.current:hover {color: #9E9E9E;font-weight: bold;text-shadow: 0 1px 0 #fff;text-decoration: none;}
.breadcrumbs a:link, .breadcrumbs a:visited {color: #44474F;text-decoration: none;text-shadow: 0 1px 0 #fff;font-weight: bold;}
.breadcrumbs a:hover {color: #222222;}
.breadcrumb_divider {display: inline-block;width: 12px;height: 24px;background: url(../Images/breadcrumb_divider.png) no-repeat;float: left;margin: 0 5px;}

/* 主内容 */
section#main {width: 100%;min-height: 500px;float: left;margin-top: 25px;}
#main h3 {color: #1F1F20;text-transform: uppercase;text-shadow: 0 1px 0 #fff;font-size: 13px;margin: 8px 20px;}

/* 主内容模块 */
.module {border: 1px solid #9BA0AF;width: 100%;margin: 20px 1% 0 1%;margin-top: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #ffffff;}
#main .module header h3 {display: block;width: auto;float: left;}
.module header {height: 38px;width: 100%;background: #F1F1F4 url(../Images/secondary_bar.png) repeat-x;-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;border-top-left-radius: 5px; border-top-right-radius: 5px;}
.module footer {height: 32px;width: 100%;border-top: 1px solid #9CA1B0;background: #F1F1F4 url(../Images/module_footer_bg.png) repeat-x;-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;}
.module_content {margin: 10px 20px;color: #666;}

/* 模块宽度 */
.width_full {width: 98%;}
.width_half {width: 46%;margin-right: 0;float: left;}
.width_quarter {width: 26%;margin-right: 0;float: left;}
.width_3_quarter {width: 66%;margin-right: 0;float: left;}

/* 数据列表管理 */
.tablesorter {width: 100%;margin: -5px 0 0 0;}
.tablesorter thead th .order_desc { padding-right: 8px; background: url(../Images/order.gif) no-repeat 100% 50%; }
.tablesorter thead th .order_asc { padding-right: 8px; background: url(../Images/order_asc.gif) no-repeat 100% 50%; }
.tablesorter td{margin: 0;padding: 0;border-bottom: 1px dotted #ccc;}
.tablesorter thead tr {height: 34px;background: url(../Images/table_sorter_header.png) repeat-x;text-align: left;text-indent: 10px;cursor: pointer;}
.tablesorter td {padding: 15px 10px;}
.tablesorter input[type=image] {margin-right: 10px;}
.tablesorter .data_odd {background-color:#fff;}
.tablesorter .data_even {background-color:#f9f9f9;}
.tablesorter .data_tr {background-color: #f5f5f5;border:1px solid #dddddd;}
.tablebackground{border:1px solid #e0e0e0;background:#efefef;padding:5px;}
.warning{ padding: 8px 35px 8px 14px;margin-bottom: 18px;color: #c09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3;border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

 /* 操作条 */
.row-actions a,.row-actions span{color:#f5fafe;margin-right:5px;text-decoration:underline;}
.row-actions-display .row-actions .edit a{ color:#77BACE; }
.row-actions-display .row-actions .delete a{ color:#fb98af;}
.row-actions-display .row-actions .view a{ color:#77BACE;}
.row-actions-display .row-actions .hide a{ color:#77BACE; }
.row-actions-display .row-actions span{ color:#e2e2ff; }
.row-actions-display .row-actions a:hover{ color:#000; }

/* 滑动条 */
ul.tabs {margin: 3px 10px 0 0;padding: 0;float: right;list-style: none;height: 24px; /*--Set height of tabs--*/
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 1px 0 #fff;-moz-box-shadow: 0 1px 0 #fff;box-shadow: 0 1px 0 #fff;border: 1px solid #ccc;font-weight: bold;text-shadow: 0 1px 0 #fff;}
ul.tabs li {float: left;margin: 0;padding: 0;line-height: 24px;}
ul.tabs li a {text-decoration: none;color: #999;display: block;padding: 0 10px;height: 24px;}
ul.tabs li a:hover {color: #44474F;}
html ul.tabs li.active a {color: #44474F;}
html ul.tabs li.active, html ul.tabs li.active a:hover  {background: #F1F2F4;-webkit-box-shadow: inset 0 2px 3px #818181;-moz-box-shadow: inset 0 2px 3px #818181;box-shadow: inset 0 2px 3px #818181;}
html ul.tabs li:first-child, html ul.tabs li:first-child a  {-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
html ul.tabs li:last-child, html ul.tabs li:last-child a  {-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
#main .module header h3.tabs_involved {display: block;width:auto;float: left;}

/**===============================
           底部
================================*/
#footer{overflow:hidden;width:100%;text-align:center; color:#aaaaaa;margin-top:-5px;font-size:11px;}
#footer a{ color:#aaaaaa; text-decoration:none;}
#footer a:hover{ text-decoration:underline; }

/**===============================
           表单及form
================================*/

/* 基本表单 */
input[type=submit],input[type=reset] {background: #D0D1D4 url(../Images/btn_submit.png) repeat-x;border: 1px solid #A8A9A8;-webkit-box-shadow: 0 1px 0 #fff;-moz-box-shadow: 0 1px 0 #fff;box-shadow: 0 1px 0 #fff;font-weight: bold;height: 22px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding: 0 10px;color: #666;text-shadow: 0 1px 0 #fff;cursor: pointer;}
input[type=submit]:hover {color: #333333;}
input[type=submit].alt_btn,input[type=button].alt_btn {background: #D0D1D4 url(../Images/btn_submit_2.png) repeat-x;border: 1px solid#30B0C8;-webkit-box-shadow: 0 1px 0 #fff;-moz-box-shadow: 0 1px 0 #fff;box-shadow: 0 1px 0 #fff;font-weight: bold;height: 22px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding: 0 10px;color: #003E49;text-shadow: 0 1px 0 #6CDCF9;cursor: pointer;}
input[type=submit].alt_btn:hover,input[type=button].alt_btn:hover{color: #001217;}

/* 表单主体 */
fieldset {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #F6F6F6;border: 1px solid #ccc;padding: 1% 0%;margin: 10px 0;}
fieldset label {display: block;width: 100%;height: 25px;line-height: 25px;text-shadow: 0 1px 0 #fff;font-weight: bold;padding-left: 10px;margin: -5px 0 5px 0;text-transform: uppercase;}
fieldset input[type=text],fieldset input[type=password],fieldset input[type=file]{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #BBBBBB;height: 20px;color: #666666;-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;padding-left: 10px;background-position: 10px 6px;margin: 0;display: block;width: 80%;margin: 0 10px;}
fieldset input[type=text]:focus {outline: none;border: 1px solid #77BACE;-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;}
fieldset select {width: 80%;margin: 0 10px;border: 1px solid #bbb;height: 20px;color: #666666;}
fieldset textarea {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #BBBBBB;color: #666666;-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;padding-left: 10px;background-position: 10px 6px;margin: 0 0.5%;display: block;width: 80%;margin: 0 10px;}
fieldset textarea:focus {outline: none;border: 1px solid #77BACE;-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;}
.require-field{color:red;font-weight:normal;margin-left:3px;}
.submit_link {float: right;margin-right: 3%;padding: 5px 0;}
.submit_link select {width: 150px;border: 1px solid #bbb;height: 20px;color: #666666;}
.description {color:#b8b6b6;padding:1px 5px 0px 9px;line-height:20px;}
a.big-button:link{font-size:14px;font-weight:bold;background:url(../Images/big_button.png) no-repeat center center;padding:13px 35px;line-height:20px;}
a.big-button:hover{text-decoration:none;color:#000;}

/* 表单布局 */
#main .module_content h1 {color: #333333;text-transform: none;text-shadow: 0 1px 0 #fff;font-size: 22px;margin: 8px 0px;}
#main .module_content h2 {color: #444444;text-transform: none;text-shadow: 0 1px 0 #fff;font-size: 18px;margin: 8px 0px;}
#main .module_content h3 {color: #666666;text-transform: uppercase;text-shadow: 0 1px 0 #fff;font-size: 13px;margin: 8px 0px;}
#main .module_content h4 {color: #666666;text-transform: none;text-shadow: 0 1px 0 #fff;font-size: 13px;margin: 8px 0px;}
#main .module_content li {line-height: 150%;}

/**===============================
           搜索
================================*/
.quick_search {text-align: center;padding: 14px 0 10px 0;}
.quick_search input[type=text] {-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;border: 1px solid #bbb;height: 26px;width: 150px;color: #ccc;-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;text-indent: 30px;background: #fff url(../Images/icn_search.png) no-repeat;background-position: 10px 6px;}
.quick_search input[type=text]:focus {outline: none;color: #666666;border: 1px solid #77BACE;-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;}

/**===============================
           全局消息提示
================================*/
#main h4.alert_info {display: block;width: 98%;margin: 20px 1% 0 1%;margin-top: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #B5E5EF url(../Images/icn_alert_info.png) no-repeat;background-position: 10px 10px;border: 1px solid #77BACE;color: #082B33;padding: 10px 0;text-indent: 40px;font-size: 14px;}
#main h4.alert_warning {display: block;width: 98%;margin: 20px 1% 0 1%;margin-top: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #F5F3BA url(../Images/icn_alert_warning.png) no-repeat;background-position: 10px 10px;border: 1px solid #C7A20D;color: #796616;padding: 10px 0;text-indent: 40px;font-size: 14px;}
#main h4.alert_error {display: block;width: 98%;margin: 20px 1% 0 1%;margin-top: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #F3D9D9 url(../Images/icn_alert_error.png) no-repeat;background-position: 10px 10px;border: 1px solid #D20009;color: #7B040F;padding: 10px 0;text-indent: 40px;font-size: 14px;}
#main h4.alert_success {display: block;width: 98%;margin: 20px 1% 0 1%;margin-top: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #E2F6C5 url(../Images/icn_alert_success.png) no-repeat;background-position: 10px 10px;border: 1px solid #79C20D;color: #32510F;padding: 10px 0;text-indent: 40px;font-size: 14px;}

/* AJAX消息 */
#result,.DyhbAjaxResult{border:2px ridge #000; background-color:#eee;line-height:20px;max-width:250px;width: expression(this.width>250?"250":true);overflow: auto; background-color: #ffffff;-webkit-border-radius: 6px;-moz-border-radius: 6px;  border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip: padding-box; -moz-background-clip: padding-box;background-clip: padding-box;}
* html div.DyhbAjaxResult{position:absolute; right:16px;}
.DyhbAjaxResult{position:fixed;top:50%;margin-top:-100px;left:50%;margin-left:-100px; z-index: 1050;padding:15px 50px;border: 5px solid #999; border: 5px solid rgba(0, 0, 0, 0.2);*border: 5px solid #999;}
#result{padding:5px 20px;border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2);*border: 1px solid #999;}
.DyhbAjaxResult table{border:none;}
#result ul li,.DyhbAjaxResult ul li{list-style:none;line-height:20px;}
.DyhbModelList{list-style:none;}

/**===============================
           分页条
================================*/
#pagenav {padding:3px;margin:3px;text-align: center;}
#pagenav a {color: #77BACE;background:#f5f5f5;border: #dedfde 1px solid; padding:2px 6px 2px 6px; margin-right: 3px; text-decoration: none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
#pagenav a:hover {color: #fff; background-image: none; background-color: #77BACE;border: #000 1px solid;}
#pagenav a:active {color: #fff; background-image: none; background-color: #77BACE;border: #000 1px solid;}
#pagenav span.current {font-weight: bold;color: #77BACE;background-color: #eee; border: #77BACE 1px solid;padding:2px 6px 2px 6px; margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
#pagenav span.disabled {color: #77BACE; background-color: #f5f5f5; border: #eee 1px solid;padding:2px 6px 2px 6px;margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}

/**===============================
           升级提醒
================================*/
.update_num {margin-left:2px;padding:1px 5px 0px 6px;color:white;font-weight:bold;background-color:#77BACE;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}

/**===============================
           后台插入媒体通用
================================*/
.common-media-box{margin:8px 0 8px 8px;}
.icon_add_face,.icon_add_topic,.icon_add_img,.icon_add_video,.icon_add_music{background-image: url('../Images/media_icon.png');background-repeat:no-repeat;width: 22px;height: 22px;padding:4px 0px 4px 20px;line-height:22px;margin-right:5px;}
.icon_add_face{background-position: 0px 2px;}
.icon_add_topic{background-position: 0px -21px;}
.icon_add_img{background-position: 0px -47px;}
.icon_add_video{background-position: 0px -73px;}
.icon_add_music{background-position: 0px -98px;}
