/*
File Name: theme.css
File Type: 必须
Description: 主题样式
*/

/**===============================
           列表
================================*/
.style-description{color:#b8b6b6;line-height:20px;}
.style-install{margin:30px 0px;}
.style-author{}
.style-dir{line-height:20px;}
.style-tag{}
.style_top{border-top:10px solid #1562e9;}
.style_right{border-right:8px solid #38a9dd;}
.style_left{border-left:6px solid #a60af4;}
.style_bottom .bottom-hr{background:#fb5903;height:4px;}

/**===============================
           主题DIY预览
================================*/
#style_preview{border: 1px solid #333;font-size: 12px; color: #444;}
#style_preview p,#style_preview ul,#style_preview li{margin: 0; padding: 0; list-style: none; }
#sp_header{position: relative; padding: 20px 10px 30px 10px; border-bottom: 1px solid #dfdfdf;}
#sp_umenu{position: absolute; right: 10px; top: 10px; color: #333333;}
#sp_menu {position: relative;background: #52a452;font-weight: bold;line-height: 25px;}
#sp_menu ul{margin: 0;padding: 0;list-style-type: none;}
#sp_menu li{float:left;border-right: 1px solid #378C32; border-left:1px solid #378C32;}
#sp_menu a:visited,#sp_menu a:link {display:block;padding: 5px 30px;text-decoration: none;color: #fff;background:#52a452;}
#sp_menu a:hover,#sp_menu .current a {color: #fff;background:#378C32;}
#sp_wrap th,#sp_wrap td{border: 0;}
#sp_imgdir,#sp_styleimgdir{color:#999;font-weight:bold;}
#sp_frame{width:100%;height:300px;}
.theme_warning{color:red;font-weight:bold;}
.theme_gray_warning{color:#999999;font-weight:bold;}
