/*
[name]蓝[/name]
[iconbgcolor]#0053B9[/iconbgcolor]
Description: NeedForBug! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
body { background:#FFF url({IMG_DIR}/../Style/t5/bgimg.jpg) no-repeat 50% 0; }
a {color: #0088cc;text-decoration: none;}
a:hover {color: #005580;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #2e80d1;}
.label-success[href]{background-color: #2366b2;}
.alert-success{color: #3a87ad;background-color: #d9edf7;border-color: #bce8f1;}
.label a,.badge a{color:#fff;}
.badge-success{background:#2e80d1;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#2e80d1;}
input:focus,textarea:focus {border-color: #2e80d1;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #2e80d1;}
.dropdown-menu a:hover{background-color: #2e80d1;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #2e80d1;}
/* 按钮 */
.btn-success {background-color: #0074cc;*background-color: #0055cc;background-image: -ms-linear-gradient(top, #0088cc, #0055cc);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);background-image: -o-linear-gradient(top, #0088cc, #0055cc);background-image: -moz-linear-gradient(top, #0088cc, #0055cc);background-image: linear-gradient(top, #0088cc, #0055cc);background-repeat: repeat-x;border-color: #0055cc #0055cc #003580;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {background-color: #0055cc;*background-color: #004ab3;}
.btn-success:active,.btn-success.active {background-color: #004099 \9;}

/**===============================
           重新定义头部和头部菜单
================================*/
/* 顶部条 */
#top_header{background:none;border:none; }
#header{background:none; }
/* 菜单 */
#header .navbar-inner {background:#2e80d1;filter: none;}
#header .navbar .divider-vertical {background-color: #2366b2;border-right: 1px solid #2e80d1;}
#header .navbar-inner .nav .active a {color:#ffffff;background: #2366b2;}
#header .navbar-inner .nav .active a:hover {color:#ffffff;background:#2366b2;}
#header .navbar-inner .nav a:hover {color:#ffffff;background:#2366b2;}
#header .navbar-inner .nav .dropdown-menu a {color:{NORMAL_COLOR};}
#header .navbar-inner .nav .dropdown-menu a:hover{background-color: #2e80d1;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover {background-color: #2e80d1;}
/* 搜索 */
#header .navbar-search .search-query {border: 1px solid #2366b2;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#333333;}
#footer a{color:#333333;}
#footer a:hover{color:#333333;}
